
<div class = "table-title">
  <div class="large-12 columns">
    <h1>Hey, um, I think you were looking for this!</h1>
  </div>
</div>

<div class = "table-legislator">
  <div class="text-centerlarge-12 columns">
    <table>
      <thead>
        <tr>
          <th width="75">Title</th>
          <th width="350">Name</th>
          <th width="150">Party</th>
          <th width="150">State</th>
          <th width="500">Office Address</th>

        </tr>
      </thead>
      <tbody>
       <% @legislators.each do |legislator|%>
       <tr class="legislator">
        <td class="title"><%= legislator.title %></td>
        <td class="name"><%= link_to legislator.firstname + " " + legislator.lastname, legislator_path(legislator)%></td>
        <td class="party"><%= legislator.party %></td>
        <td class="state"><%= legislator.state %></td>
        <td class="state"><%= legislator.congress_office %></td>
      </tr>
      <%end%>
    </tr>
  </tbody>
</table>
</div>
</div>


<footer class="row">
  <div class="large-12 columns">
    <p><%= link_to('Hey, um, jk, WE HAVE TO GO BACK, BRO', root_path) %></p>
  </div>
</footer>
