

<table>
  <% @legislators.each do |legislator|%>
        <tr class="legislator">
          <td class="lastname"><%= legislator.lastname %></td>
          <td class="firstname"><%= legislator.firstname %></td>
          <td class="title"><%= legislator.title %></td>
          <td class="party"><%= legislator.party %></td>
          <td class="state"><%= legislator.state %></td>
          <td class="state_name"><%= legislator.state_name %></td>
        <tr>
  <%end%>
</table>
