<h1>Hey, um, I think you were looking for this!</h1>



    <table>

      <% @legislators.each do |legislator|%>
          <tr class="legislator">
            <td class="title"><%= legislator.title %></td>
            <td class="name"><%= link_to legislator.firstname + " " + legislator.lastname, legislator_path(legislator)%></td>
            <td class="party"><%= legislator.party %></td>
            <td class="state"><%= legislator.state %></td>
            <td class="state_name"><%= legislator.state_name %></td>
            <td class="bioguide_id"><%= legislator.bioguide_id %></td>
            <td class="crp_id"><%= legislator.crp_id %></td>
            <td class="website"><%= legislator.website %></td>
            <td class="office"><%= legislator.congress_office %></td>
          </tr>
      <%end%>
    </table>


<%= link_to('LEMME GO BACK, BRO', root_path) %>


