
<div class="row">
<div class="large-3 columns">
<h1><div class= "logo"><i class="fi-dollar-bill size-24"></i> OMG <i class="fi-dollar-bill size-24"></i> </div></a></h1>
</div>
<div class="large-9 columns">
<ul class="inline-list right">

<li>Legend:</a></li>
<li><a href="#A1">Data Info</a></li>
</ul>
</div>
</div>

<div class="row">


<div class="large-9 push-3 columns">
<h3><%= @legislator.title + ". " + @legislator.firstname + " " + @legislator.lastname + " "%><small>--<%= @legislator.party %>-- <%= @legislator.state %></small></h3>
<p><%= link_to @legislator.website %></p>

<p> <%= @legislator.congress_office %></p>

<p>

  Campaign Finance by Sectors and Industries:
  <div class = "loop-sector-container">
    <% @legislator.contributions.each do |c| %>

      <div class ="contri">
        <div class = "contributions_chart">
          <div style="width:<%= c.total/1000 %>px" class="contribution">

              <%= c.source%>
              <%= number_to_currency(c.total) %>
          </div>
        </div>
      </div>
    <%end%>
  </div>


</p>

<h3><a name="A1">Data Info</a></h3><br>

<p> The above data, pulled from the <a href="http://www.opensecrets.org/resources/create/api_doc.php">OpenSecrets API</a> provides up-to-date Campaign Finance information reagarding Industy and Sector contributions. For reference, however, please note the descriptions of the following classifications, taken from the OpenSecrets website. Please note that full, detailed descriptions of these data categories can be found <a href="http://www.opensecrets.org/industries/slist.php">here.</a></p>


<h4><a href="http://www.opensecrets.org/industries/indus.php?ind=N">"Other"</a> </h4>
<p>
This sector is home to a variety of industries that don't fall under any business, labor or ideological groupings. The biggest dollars, by far, come from the large and diverse group of donors listing their occupation as "retired."

Other categories include educators, government employees (though not their unions), nonprofit organizations, religious groups and members of the armed forces. This sector contributed more than $400 million to federal parties and candidates during the 2008 election cycle.
</p>

<h4><a href="http://www.opensecrets.org/industries/indus.php?ind=N">"Misc Business"</a> </h4>
<p>
The broad miscellaneous business sector encompasses a range of industries, from the manufacturing, textiles, steel and chemical industries to consumer retail goods, restaurants, beer wholesalers and funeral services. This sector also includes gambling, tourism, food and beverages.
</p>
</div>


<div class="large-3 pull-9 columns">

<p><%= image_tag "https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/450x550/#{@legislator.bioguide_id}.jpg" %></p>

<ul class="side-nav">
<li>Sector Sum:  <%= number_to_currency(@legislator.sector_sum)%></a></li>
<li>Industry Sum:  <%= number_to_currency(@legislator.industry_sum)%></a></li>


<li><a href="https://petitions.whitehouse.gov/petitions">Petition <%= @legislator.title + ". " + @legislator.firstname + " " + @legislator.lastname + " "%></a></li>


</ul>
</div>
</div>

<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>Hey! What are you doing down here?!! Get back up there!! Go on, git!!.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><%= link_to('Home', root_path) %></li>
<li>Conact the Bromaster</a></li>

</ul>
</div>
</div>
</div>
</footer>











<br><br><br><br><br><br><br><br>


<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Sector');
        data.addColumn('number', 'Sector_sum');
        data.addRows([
          <% @legislator.contributions.each do |c| %>


          [<%= c.source%>, <%= c.total %>],
          <%end%>
          ['Communic/Electronics', 1],
          ['Construction', 1],
          ['Defense', 1],
          ['Energy/Nat Resource', 2],
          ['Finance/Insur/RealEst', 1],
          ['Health', 1],
          ['Lawyers & Lobbyists', 1],
          ['Transportation', 1],
          ['Misc Business', 1],
          ['Labor', 1],
          ['Ideology/Single-Issue', 1]
        ]);

        // Set chart options
        var options = {'title':'Campaign Contributions by Industry Sector',
                       'width':1400,
                       'height':1300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>
