
<div class="row">
<div class="large-3 columns">
<h1><img src="http://placehold.it/400x100&text=Logo"/></h1>
</div>
<div class="large-9 columns">
<ul class="inline-list right">
<li><a href="#">List by Industries</a></li>
<li>Legends:</a></li>
<li><a href="#">Sector</a></li>
<li><a href="#">Industry</a></li>
</ul>
</div>
</div>

<div class="row">


<div class="large-9 push-3 columns">
<h3><%= @legislator.title + ". " + @legislator.firstname + " " + @legislator.lastname + " "%><small>--<%= @legislator.party %>-- <%= @legislator.state %></small></h3>
<p><%= link_to @legislator.website %></p>

<p> <%= @legislator.congress_office %></p>

<p>

  Campaign Finance by SECTOR:
  <div class = "loop-sector-container">
    <% @legislator.contributions.each do |c| %>

      <div class ="contri">
        <div class = "contributions_chart">
          <div style="width:<%= c.total/150 %>px" class="contribution">

              <%= c.source%>
              <%= number_to_currency(c.total) %>
          </div>
        </div>
      </div>
    <%end%>
  </div>


</p>
</div>






<div class="large-3 pull-9 columns">

<p><%= image_tag "https://raw.githubusercontent.com/unitedstates/images/gh-pages/congress/450x550/#{@legislator.bioguide_id}.jpg" %></p>

<ul class="side-nav">
<li>Sector Sum:  <%= number_to_currency(@legislator.sector_sum)%></a></li>
<li>Industry Sum:  <%= number_to_currency(@legislator.industry_sum)%></a></li>
<li><a href="#">Section 3</a></li>
<li><a href="#">Section 4</a></li>
<li><a href="#">Section 5</a></li>
<li><a href="#">Section 6</a></li>
</ul>
</div>
</div>

<footer class="row">
<div class="large-12 columns">
<hr/>
<div class="row">
<div class="large-6 columns">
<p>&copy; Copyright no one at all. Go to town.</p>
</div>
<div class="large-6 columns">
<ul class="inline-list right">
<li><a href="#">Section 1</a></li>
<li><a href="#">Section 2</a></li>
<li><a href="#">Section 3</a></li>
<li><a href="#">Section 4</a></li>
</ul>
</div>
</div>
</div>
</footer>











<br><br><br><br><br><br><br><br>


<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Sector');
        data.addColumn('number', 'Sector_sum');
        data.addRows([
          <% @legislator.contributions.each do |c| %>


          [<%= c.source%>, <%= c.total %>],
          <%end%>
          ['Communic/Electronics', 1],
          ['Construction', 1],
          ['Defense', 1],
          ['Energy/Nat Resource', 2],
          ['Finance/Insur/RealEst', 1],
          ['Health', 1],
          ['Lawyers & Lobbyists', 1],
          ['Transportation', 1],
          ['Misc Business', 1],
          ['Labor', 1],
          ['Ideology/Single-Issue', 1]
        ]);

        // Set chart options
        var options = {'title':'Campaign Contributions by Industry Sector',
                       'width':1400,
                       'height':1300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
  </body>
</html>
